.image1{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    background-size: cover;
    background-position: center;
    height: auto;
    margin: 25px 0px;
}
.image1 h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
.brushes{
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.frames {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.paint {
           background-color: skyblue;
           font-family: Helvetica;
           font-size: 32px;
           font-weight: bold;
           color: white;
}
.header{
    font-size: large;
    font-weight: bold;
}
.price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}